{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}
    <h1>Offer for {{ currentoffer.owner_request }}.</h1>
    
            <div>
                <h3>Requested by: {{ currentoffer.owner_request_buyer }}</h3>
                <h3>Designed by: {{ currentoffer.designer }}</h3>
                <div style="background-image: url({{ MEDIA_URL }}{{ currentoffer.final_product }})"></div>
                <div>{{ currentoffer.request_owner_date_requested }}</div>
                <div>{{ currentoffer.date_send }}</div>
                <div>{{ currentoffer.graphic_type }}</div>
                <div>$ {{ currentoffer.price }}</div>
                <div>{{ currentoffer.date_send }}</div>
            </div>
{% endblock %}