{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block title %}Current offer{% endblock %}
{% block content %}
    <h1>Offer for {{ currentoffer.owner_request }}</h1>
    
            <div class="currentoffer-block">
                <h2 class="users">Requested by: {{ currentoffer.owner_request.buyer }}</h2>
                <h2 class="users">Designed by: {{ currentoffer.designer }}</h2>
                <div style="background-image: url({{ MEDIA_URL }}{{ currentoffer.final_product }})"></div>
                <div><span>Date requested: </span><span>{{ currentoffer.owner_request.date_requested }}</span></div>
                <div><span>Date delivered: </span><span>{{ currentoffer.date_send }}</span></div>
                <div><span>Graphic type:</span> {{ currentoffer.owner_request.graphic_type }}</div>
                <div>Price: $ {{ currentoffer.owner_request.price }}</div>
                
                <a href="{% url 'checkout' %}"><button type="button" class="btn btn-success">Pay ${{ currentoffer.owner_request.price }}</button></a>
            </div>
{% endblock %}